.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

a {
    color: #030407;
    font-weight: bold;
}